<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Eczaneler: Profesyonel yardım alın</h1>
    <p class="lead">
      Teknik yardım isteklerinizi bize bildirin. Öncelikle kayıt olmalısınız.
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Kayıt
      </button>
      <button class="btn btn-info btn-lg">Daha fazla...</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
